<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="${dubbo.application.name}" />

    <!-- 使用multicast广播注册中心暴露服务地址 -->
    <dubbo:registry protocol="zookeeper" address="${dubbo.registry.address}" />

    <!-- 用dubbo协议暴露的服务端口 -->
    <dubbo:protocol name="dubbo" dispather="all" port="${dubbo.protocol.port}" host="${dubbo.protocol.host}"/>


    <dubbo:reference id="personServcie"  interface="com.ctl.springbootdubbozipkinapi.service.PersonService" timeout="${dubbo.reference.timeout}" check="false"/>
    <dubbo:reference id="person2Service" interface="com.ctl.springbootdubbozipkinapi.service.Person2Service" timeout="${dubbo.reference.timeout}" check="false"/>
    <dubbo:reference id="person3Service" interface="com.ctl.springbootdubbozipkinapi.service.Person2Service" timeout="${dubbo.reference.timeout}" check="false"/>
    <bean id="properties" class="com.ctl.springbootdubbozipkinapi.config.ZipkinProperties">
        <property name="serviceName" value ="${brave.name}"/>
        <property name="url" value ="${http.sender.address}"/>
        <property name="connectTimeout" value ="${http.sender.connectTimeout}"/>
        <property name="readTimeout" value ="${http.sender.readTimeout}"/>
    </bean>
    <!-- 服务提供方filter -->
    <dubbo:provider filter="tracing"/>
    <!-- 服务消费方filter -->
    <dubbo:consumer filter="tracing"/>

</beans>