<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <dubbo:application name="${dubbo.application.name}" owner="${dubbo.application.owner}" organization="${dubbo.application.organization}"/>

    <dubbo:registry address="${dubbo.registry.address}" client="zkclient" />

    <dubbo:reference id="deviceService" interface="com.hanshow.wise.base.device.service.DeviceService" timeout="10000" check="false"/>
    <dubbo:reference id="eslService" interface="com.hanshow.wise.base.esl.service.EslService" timeout="10000" check="false"/>
</beans>