<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd">
    <!-- 在一个项目中不能出现两个  <dubbo:application /> 因此注释掉-->
 <!--   <dubbo:application name="dubbo-consumer"/>
    <dubbo:registry group="consumer1" address="zookeeper://127.0.0.1:2181"/>-->
    <dubbo:reference id="dService" check="false" timeout="3000" interface="com.ctl.sharding.service.DService"/>
</beans>